<p>イベントのURL</p>
<p>管理者用</p> 
<input type="text" cols="80" name="admin_url" value='http://ec2-54-64-8-115.ap-northeast-1.compute.amazonaws.com/admin?<%= @eid %>'>
<br>
<p>参加者用</p>
<input type="text" name="event_url" value='http://ec2-54-64-8-115.ap-northeast-1.compute.amazonaws.com/detail?<%= @eid %>'>

<div>
<%= @description %>
</div>
